<a href="https://colab.research.google.com/github/kornet79/-Colab-/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬은 띄어쓰기 조심!
print문장은 화면에 출력해주는 명령어

In [ ]:
print('my first python code!')

my first python code!

파이썬에서 변수만들기는 쉬움. 그냥 약속되지 않은 이름을 사용하면 됨.

In [ ]:
name = '홍길동' #홑따옴표로 감싸있음 => 문자열
age = '2'  #숫자
age = age + 1
print('안녕하세요 난 ', name, age)

안녕하세요 난  홍길동 3

In [ ]:
#연산자
a = 5
b = 3
print(a%b) #나머지를 구하는 연산자

1.6666666666666667

In [ ]:
a = 5
b = 2
print(a == b)  # == 같은가. 비교연산자
print(a != b)

True

In [ ]:
a = 5
b = 10

a = a + b # 15
b = a - b # 5
a = a - b # 10

#a, b만을 이용해서 자리바꾸기 할 수 있을까??
#
print(a, b)  # 서로 반대가 되게.   2 5

10 5

In [ ]:
str = 'hello'  #문자열

In [ ]:
print(str)

hello

In [ ]:
#우리반 학생을 저장 ( 1~ 10번)
#방법1
s1 = '김개똥'
s2 = '홍길동'
#만약 학생이 100명이라면 ? => 100의 변수가 필요
#하나의 묶음으로 보관 =>  List (다른 언어서는 배열 array)

student = ['김개똥', '홍길동', 100]  #리스트에 다른 형태의 자료형도 보관가능
print(student[2]) #리스트 번지는 0번지 부터 시작

student.append('이정환') #append 새로운 항목을 뒤에 추가할 때
print(student[3])
#리스트에서 쓸수 있는 기능들은 어떤게 있을까??

#리스트에서 특정항목 삭제
student.pop(1)  #1번째 항목이 삭제

#다시 출력
print(student)

100
이정환
['김개똥', 100, '이정환']

In [ ]:
#만약 1번의 이름, 국어, 영어, 정보 성적을 보관
#2번의 이름, 국어, 영어, 정보
s1 = ['김개똥', 100, 50, 70]
s2 = ['홍길동', 60, 70, 100]

cls = [s1, s2]  #리스트(배열)안에 리스트를 넣을 수 있음 => 2차원 리스트(배열)
a1 = cls[0]  #s1 = 김개똥의 배열
print(a1[1]) #김개똥의 국어 점수
print(cls[0][1])  

#배열과 리스트 가 같을까??  => 배열은 크기가 고정= 변경불가 , 리스트는 변함

[['김개똥', 100, 50, 70], ['홍길동', 60, 70, 100]]

In [ ]:
#여기만 실행하면 안됨.. 
#type(변수)  =  변수의 타입(자료의 형태를 출력)

print(   type(cls)          )   #cls의 자료형
num = 3
print( type( num ))

<class 'list'>
<class 'int'>

In [ ]:
#사용자 입력
print('이름을 입력하세요') 
name = input() #입력하기 기능
#또는 name = input('이름을 입력하세요')
#print('hello', name)
#print('hello' + name)
print(f'hello {name}')   #  f' 로 시작하는 포맷팅을 이용해서 변수를 안에 표현할 수 있음.

이름을 입력하세요
ghks
hello ghks

In [ ]:
#리스트에서 관해서.. 문자열
#String = 문자열
str = 'hello world'
print(str[4])  #['h','e','l'..... ] 저장되고 있음
print(   len(str)    )  # len()  기능은 문자의 길이를 출력

list = [1,2,3,4,5]  #배열의 길이를 알 수 있을까?
print(len(list))

o
11
5

In [ ]:
#반복문 - 반복된 작업을 쉽게
#상황 - 리스트 = [0,0,0,0,0,0,...] => 100칸 생성
#list = [0,0 ... 0]  또는
#list = []   list.append(0) 추가하기 100번

#반복 명령어 for, while
#for = 제한된 횟수 만큼 반복
# k = 반복하면서 사용 변수.
#range(범위)   0~범위-1 까지    
for k in range(2,5):     # 2부터 5-1까지
# :표시는 중괄호 시작이랑 같은 뜻
  #안에 들여쓰기를 했음.
  print(k)  #k는 0~9까지 변신
  print('반복중')

2
3
4
반복중

In [ ]:
# 100개의 리스트 배열을 만들고 [0,2,4,6....] 순서로 값을 초기화
# 배열의 항목을 추가하는 명령어 append

list = []

#list.append(0)
#list.append(2)
#list.append(4)

#for 변수 in  범위:
# 반복내용
for n in range(0, 200, 2):  #0~200까지 2씩 커짐...  
#for(int i = 0 ; i < 200 ; i = i+2)
  #n = 0 ,1,2,...99
  #list.append(n*2)
  list.append(n)

###############
#... 100번
print(list)
#[0,2,4,6,8....   198]

for k in list:
  print(k)

In [ ]:
str = 'hello world'
#print(str[::-1])
print(str.reverse)

In [7]:
# for 반복문은 똑같은 획수를 반복하거나 지정 할수있는 반복문
#구구단 출력
# 3입력 => 3*1=3...3*9= 27
n = input('숫자를 입력하시요: ')

print(n*3) # input() 으로 입력 받은 값은 문자열로 인식하여 출력한다.
k = int(n) # int 타입= 정수로 변경
print(k*3)
# ==>>>>> n = int(input('숫자 입력'))

숫자를 입력하시요: 3
333
9

In [27]:
#입력 받은 숫자를 가지고 구구단 만들기
n = int(input('숫자입력:')) # 내가원하는 숫자가 n에 입력이 됀다
 # 중가로는 안에 있는 변수의 값을 출력하라

for i in range(0,9):
   #반복할 작업을 tab 만큼 들여 써서 사용한다
   print(f'{n} * {i} = {n *i}')

숫자입력:3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24

In [28]:
n = int(input('숫자입력:'))

for i in range(0,31):
  if

SyntaxError: ignored