<a href="https://colab.research.google.com/github/kornet79/-Colab-/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬은 띄어쓰기 조심!
print문장은 화면에 출력해주는 명령어

In [ ]:
print('my first python code!')

my first python code!

파이썬에서 변수만들기는 쉬움. 그냥 약속되지 않은 이름을 사용하면 됨.

In [ ]:
name = '홍길동' #홑따옴표로 감싸있음 => 문자열
age = '2'  #숫자
age = age + 1
print('안녕하세요 난 ', name, age)

안녕하세요 난  홍길동 3

In [ ]:
#연산자
a = 5
b = 3
print(a%b) #나머지를 구하는 연산자

1.6666666666666667

In [ ]:
a = 5
b = 2
print(a == b)  # == 같은가. 비교연산자
print(a != b)

True

In [ ]:
a = 5
b = 10

a = a + b # 15
b = a - b # 5
a = a - b # 10

#a, b만을 이용해서 자리바꾸기 할 수 있을까??
#
print(a, b)  # 서로 반대가 되게.   2 5

10 5

In [ ]:
str = 'hello'  #문자열

In [ ]:
print(str)

hello

In [ ]:
#우리반 학생을 저장 ( 1~ 10번)
#방법1
s1 = '김개똥'
s2 = '홍길동'
#만약 학생이 100명이라면 ? => 100의 변수가 필요
#하나의 묶음으로 보관 =>  List (다른 언어서는 배열 array)

student = ['김개똥', '홍길동', 100]  #리스트에 다른 형태의 자료형도 보관가능
print(student[2]) #리스트 번지는 0번지 부터 시작

student.append('이정환') #append 새로운 항목을 뒤에 추가할 때
print(student[3])
#리스트에서 쓸수 있는 기능들은 어떤게 있을까??

#리스트에서 특정항목 삭제
student.pop(1)  #1번째 항목이 삭제

#다시 출력
print(student)

100
이정환
['김개똥', 100, '이정환']

In [ ]:
#만약 1번의 이름, 국어, 영어, 정보 성적을 보관
#2번의 이름, 국어, 영어, 정보
s1 = ['김개똥', 100, 50, 70]
s2 = ['홍길동', 60, 70, 100]

cls = [s1, s2]  #리스트(배열)안에 리스트를 넣을 수 있음 => 2차원 리스트(배열)
a1 = cls[0]  #s1 = 김개똥의 배열
print(a1[1]) #김개똥의 국어 점수
print(cls[0][1])  

#배열과 리스트 가 같을까??  => 배열은 크기가 고정= 변경불가 , 리스트는 변함

[['김개똥', 100, 50, 70], ['홍길동', 60, 70, 100]]

In [ ]:
#여기만 실행하면 안됨.. 
#type(변수)  =  변수의 타입(자료의 형태를 출력)

print(   type(cls)          )   #cls의 자료형
num = 3
print( type( num ))

<class 'list'>
<class 'int'>

In [ ]:
#사용자 입력
print('이름을 입력하세요') 
name = input() #입력하기 기능
#또는 name = input('이름을 입력하세요')
#print('hello', name)
#print('hello' + name)
print(f'hello {name}')   #  f' 로 시작하는 포맷팅을 이용해서 변수를 안에 표현할 수 있음.

이름을 입력하세요
ghks
hello ghks

In [ ]:
#리스트에서 관해서.. 문자열
#String = 문자열
str = 'hello world'
print(str[4])  #['h','e','l'..... ] 저장되고 있음
print(   len(str)    )  # len()  기능은 문자의 길이를 출력

list = [1,2,3,4,5]  #배열의 길이를 알 수 있을까?
print(len(list))

o
11
5

In [ ]:
#반복문 - 반복된 작업을 쉽게
#상황 - 리스트 = [0,0,0,0,0,0,...] => 100칸 생성
#list = [0,0 ... 0]  또는
#list = []   list.append(0) 추가하기 100번

#반복 명령어 for, while
#for = 제한된 횟수 만큼 반복
# k = 반복하면서 사용 변수.
#range(범위)   0~범위-1 까지    
for k in range(2,5):     # 2부터 5-1까지
# :표시는 중괄호 시작이랑 같은 뜻
  #안에 들여쓰기를 했음.
  print(k)  #k는 0~9까지 변신
  print('반복중')

2
3
4
반복중

In [ ]:
# 100개의 리스트 배열을 만들고 [0,2,4,6....] 순서로 값을 초기화
# 배열의 항목을 추가하는 명령어 append

list = []

#list.append(0)
#list.append(2)
#list.append(4)

#for 변수 in  범위:
# 반복내용
for n in range(0, 200, 2):  #0~200까지 2씩 커짐...  
#for(int i = 0 ; i < 200 ; i = i+2)
  #n = 0 ,1,2,...99
  #list.append(n*2)
  list.append(n)

###############
#... 100번
print(list)
#[0,2,4,6,8....   198]

for k in list:
  print(k)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

In [ ]:
#for는 반복문 => 똑같은 작업을 할 수 있도록 횟수를 지정하는 반복문

n = input('숫자를 입력하세요')
print(n*3) #input으로 받은 값은 문자로 처리됨
k = int(n)  #int 타입 = 정수값으로 변경
print(k*3)
## ==>>>>      n = int(input('숫자입력'))

숫자를 입력하세요3
333
9

In [ ]:
#진짜 입력 받은 숫자를 가지고 구구단 만들기
#입력하는 단의 구구단 출력
#예)   3입력 => 3*1= 3 ..... 3*9 = 27

n =  int( input('숫자입력')  )  # 내가 원하는 숫자 입력

#3 * 1 = 3
print(f'{n} * 1 = {n*1}')   #{}는 안에 있는 변수의 값을 출력
print(f'{n} * 2 = {n*2}')
print(f'{n} * 3 = {n*3}')
print(f'{n} * 4 = {n*4}')

for i in range(1, 10):    #1~10 전까지 = 1~9   # 콜론 :  붙이도록
  #반복할 작업은 탭만큼 들여써서 작성
  print(f'{n} * {i} = {n*i}')

숫자입력5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

![image.png]()

In [ ]:
#  1~  입력수 n 까지 369게임   ( n = 2~9)
#  3,6,9에는 대문자 X를 출력  
# 그리고 숫자마다 공백

# 0. 사용자 입력을 숫자로 받기
# 1. 1부터 입력수 까지 출력 =>   for문 필요
# 2. 3,6,9 인지 판단 하여 X로 변환

k = int(   input('숫자 입력')         )
for i in range(1, k+1):
  #i 는   1부터 k까지 나옴...
  
  #if 조건 :   => 참인지 검사
  # 참이라면 수행할 내용
  #if i 가 3이랑 같은가  
  if i == 3 :  #등호를 하나만 쓰면,   <-  복사,      == 비교하는것
    #들여쓰기 조심
    print('X')
  else:  #그 밖에  if와 같이 사용됨. if는 혼자 쓸수 있지만, else 혼자 사용 불가
    #들여쓰기 조심
    if i == 6 :
      print('X')
    else:
      if i == 9:
        print('X')
      else:
        print(i)

숫자 입력9
1
2
X
4
5
X
7
8
X

In [ ]:
# 나머지 연산자 알기
n = int(input('숫자'))

for i in range(1, n+1):
  #만약 3으로 나누어 떨어지는가 ==  나머지가 0인가
  #  % = 나머지 연산자 =>      10 % 3 = 1
  if i % 3  ==  0:   # 3,6,9
    print('X')
  else:
    print(i)

숫자10
1
2
X
4
5
X
7
8
X
10

In [ ]:
# OR연산자, AND연산자  =>  OR 연산자
n = int(input('숫자'))

for i in range(1, n+1):  
  # or  조건중에 하나라도 참이면 참
  if i == 3  or  i == 6   or  i == 9 : 
    print('X', end= ' ')
  else:
    print(i, end = ' ')

숫자9
1 2 X 4 5 X 7 8 X

In [ ]:
# IF 문 복습 for 문과 연계
# if = 조건 검사 = 만약 조건이 참이면 수행할 내용 작성

a = 4
#a가 5보다 크다면 "큰수" 출력, 
if a > 5 :
  print('큰수')   
  print('입니다.')
  #콜론 표시의 주의 -
  #콜론 다음에는 현재보다 들여쓰기 (탭)

###차이점
if a > 5 :
  print('큰수')   
print('입니다.')
  #콜론 표시의 주의 -
  #콜론 다음에는 현재보다 들여쓰기 (탭)

if a > 5 :
  print('큰수')
else:  #else = '그 밖에'   참이 아닌 경우는 전부 이쪽으로 오게됨.
  print('작은수')

if a > 5:
  print('큰수')

if a <= 5:
  print('작은수')

입니다.

In [ ]:
#내가 생각한 숫자 맞추기
#10번의 기회동안  숫자를 맞춤
#10번의 기회 => 10번동안 입력을 받아야겠음
#10번동안 => 10번 반복 => for문 필요
#입력받음 => input() 필요
#내가 입력한 숫자가 맞는지 검사(만약 일치하나???) => if문 필요
#10번 반복할 동안  검사를 매번 수행 => for문 안에서 입력도 받고, 검사도 하고

#10번 반복
for i in range(10):
  ans = 15  
  num =  int(  input('정답')   )  #입력 문자를 숫자로 변환
  #ans랑 num이랑 같은가
  if ans == num :
    print('정답!')
  else :
    print('오답!')

{ans}정답?
10
오답!
{ans}정답?
15
정답!
{ans}정답?

KeyboardInterrupt: ignored

In [ ]:
#내가 생각한 숫자 맞추기
#10번의 기회동안  숫자를 맞춤
#10번의 기회 => 10번동안 입력을 받아야겠음
#10번동안 => 10번 반복 => for문 필요
#입력받음 => input() 필요
#내가 입력한 숫자가 맞는지 검사(만약 일치하나???) => if문 필요
#10번 반복할 동안  검사를 매번 수행 => for문 안에서 입력도 받고, 검사도 하고

#10번 반복
ans = 15  

for i in range(10):  
  num =  int(  input('정답')   )  #입력 문자를 숫자로 변환
  #ans랑 num이랑 같은가
  if ans == num :
    print('정답!')
  else :
    #틀린 숫자만 오는 경우
    #또 검사
    if ans > num:
      print('UP')
    else:
      print('Down')

In [ ]:
#내가 생각한 숫자 맞추기
#10번의 기회동안  숫자를 맞춤
#10번의 기회 => 10번동안 입력을 받아야겠음
#10번동안 => 10번 반복 => for문 필요
#입력받음 => input() 필요
#내가 입력한 숫자가 맞는지 검사(만약 일치하나???) => if문 필요
#10번 반복할 동안  검사를 매번 수행 => for문 안에서 입력도 받고, 검사도 하고

#10번 반복
ans = 15  
#파이썬 랜덤값 1~100까지


for i in range(10):  
  num =  int(  input('정답')   )  #입력 문자를 숫자로 변환
  #ans랑 num이랑 같은가
  if ans == num :
    print('정답!')
    #빠져나가기 =>  검색. 파이썬에서 반복문 빠져나가기
    break
    #else 아래에 if를 또 쓰자니 번거러움...
  elif ans > num :
    print('UP')
  else:
    print('Down')

In [ ]:
n = input()

sum = 0
for k in range(1, n+1)
    if k%2 == 0:
        sum = sum+k
print(sum)

SyntaxError: ignored

https://code.juwon.info/problem.php?id=1078

1~n까지 짝수의 합 구하기

In [ ]:
#숫자를 입력받기 기능  => n이라고 하자
#1부터 n까지 반복 => for   ~~~~  :  
#반복하면서 나오는 숫자가 짝수 인지 검사  %2 == 0 ???
#합 구하기  => 합을 보관하는 변수 sum을 만들자
#sum변수를 누적해서 저장하자
n = int(input('number?'))
sum = 0 #합계

for k in range(1, n+1):  
  #k가 1~n까지 값이 들어옴
  #k가 짝수인지 판단
  if k%2 == 0:
    #sum에다 k를 누적 => 누적한다는 것은 현재sum에 k를 추가=>sum에 보관
    sum = sum+k

#반복이 끝났음.
print(sum)

KeyboardInterrupt: ignored

In [ ]:
n = int(input('number?'))
sum = 0 #합계

for k in range(2, n+1, 2):
  sum = sum+k
print(sum)

number?30
240

In [ ]:
#이건 잘못된 코드입니다.
#문제점 찾아보기
n = int(input('number?'))
sum = 0 #합계

if n%2 != 0:
  n = n-1  #n을 마지막 짝수로 만듬
  mid = int(n/2) - 1  
else:
  mid = int(n/2) + 1

sum = ((n+2) *  int(n/4) ) +  mid
print(sum)

In [ ]:
#가위1    바위2     보3 
#
me = int(input('나는 뭐 낼래? 가위1  바위2   보3'))
com =  int(input('컴퓨터는 뭐 낼래? 가위1  바위2   보3'))

#나의 컴의 비교를 해서 승, 패, 무승부 출력!

#내가 이기는 경우
#나==1 그리고 컴==3,   나2-컴1,  나3-컴2

# or = 둘 중 하나만 만족해도 참
# and = 둘 다 만족해야 참
# =>논리 연산자(참, 거짓)


if me == com:
  print('무승부')
#elif (me  == 1 and com == 3) or (me == 2 and com == 1) or (me == 3 and com ==2):
#elif (me - com == -2)  or  (me-com ==1):
elif (me - com) % 3 == 1:
  print('이겼다')
else:
  print('졌다.')

In [ ]:
# 1이 입력되면 0, 0이 입력되면 1로 출력하는 프로그램 만들자
n = input() #문자로서 입력
#if n == 1: #n은 문자값이므로     문자1과 숫자1은 다름
if n == '1':  #문자 '1'
  print('0')  #문자 0은 계산을 할 수 없음.
else:
  print('1')

In [ ]:
n = int(input())
print(1-n)

In [ ]:
for문과 배열을 섞어보자...
#배열 = 리스트 =>  변수의 집합=> 여러개의 변수를 묶어서 보관
#그럼 어떻게 안에 있는 자료를 접근할 수 있을까?? => 주소

lt = []  #빈 리스트를 만들기
#리스트 관련된 명령어 알기
#   lt.  => 점을 찍으면 사용할 수 있는 명령어가 나옴

# https://wikidocs.net/14


lt.append(1) #뒤에 추가
lt.append(10)
lt.insert(1, 5)  #(번지, 추가할 값) .  리스트는 0번지 부터 출발
lt.insert(0,20)  # [20, 1, 5, 10]

#1번지에 있는 1을 삭제
lt.remove(1) #삭제할때는 주소번지만 이용해서 삭제

print(lt)

[20, 5, 10]

In [ ]:
#[0, 10, 20, 30, 40 ...   1000] 인 배열 만들자.
# 0번지 0, 1번지에 10 , 2번지 20, 3번지 30,..... n번지 n*10
a = []
#for 변수 in 범위(리스트를 써도 되고, range() 이용)
for k in range(0, 1001, 10):
  a.append(k)
print(a)

pos = a.index(40)   
#값을 찾아보고 있으면 해당 번지를 출력
#없으면 오류 출력
print(pos)


str = 'hello world' #문자열도 리스트로 다룰 수 있음
print(str[6])
print(str.index('w'))
#문자열에서는 find 명령어도 사용할 수 있음
print(str.find('w'))
#find는 찾지 못하면 오류대신 -1을 출력
print(str.find('T'))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]
4
w
6
6
-1

In [ ]:
#리스트에서 index를 쓰지않고 해당 위치 반환

a = [1,2,3,4,4,4,7]  #크기고정
size = len(a)  #a 배열의 길이  ,  a.length 아님(자바에서 이렇게)... 
find = 5

#for문을 이용  => a의 크기 만큼 반복검사
for k in range(size):
  #a[k]야 find를 같음?
  if a[k] == find:
    print(k)
    break



#a에서 쓸수 있는 기능
#pos = a.index(4)  #4의 위치는?
#print(pos)


###결과###
# 4입력 =>   3(번지)출력

4
3
4
5

In [ ]:
#마지막부터 값 찾기
#hint  range의 활용

a = [0,1,2,3,4,5,6,7,8,9]
size = len(a)
find = int(input())
#range(5) 0~4까지
#range(1,5) 1~4까지
#range(1,10, 2)  1~9까지 2씩 증가
#10부터 1까지 1씩 감소 =>  range(11, 0, -1)
# for k in range(size-1, -1 , -1):
#   if a[k] == find:
#     print(k)
#     break


for k in range(size):
  #0 번지 => 9만들기
  pos = size - 1 - k  #k=0일때 10-1-k=>9-0 = 9번지 찾기
  if a[pos] == find:
    print(pos)
    break

6
9
8
7
6
6

In [ ]:
#n = [1,3,5,76,8,3,1,2,3,54]
n = ['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july']

#range(10) =  [0,1,2,3,4,5,6,7,8,9]
for k  in n:  #in 다음에는  range만 가능한게 아님. 범위를 가지고 있는것
  print(k)

jan
feb
mar
apr
may
june
july

In [ ]:
#https://wikidocs.net/21
#반복문

# 조건이 참인 동안 반복
k = 0
while k < 5:
  print(k)
  k = k+1

print('byebye')
print(k)

0
1
2
3
4
byebye
5

In [ ]:
#패스워드를 검사하자. 비번이 맞을 때 까지 반복


pw = '1234'  #문자 1234
my = input('패스워드를 입력하세요')

#비번이 틀렸을 때 반복   pw  my 같지 않을때
while pw != my:  #!는 부정의 의미
  my = input('패스워드를 입력하세요')

print('welcome')

패스워드를 입력하세요asd
패스워드를 입력하세요dqw
패스워드를 입력하세요qwe
패스워드를 입력하세요1234
welcome

In [ ]:
pw = '1234'

#무조건 반복하다가 조건이 맞으면 탈출(break)
#파이썬에는 do-while문이 없음...
#True는 참을 뜻함  False은 거짓 => 대소문자 주의
while True  :
  my = input('비번입력')
  if my == pw:
    break

In [ ]:
#문제 1134번

#target = input('찾을 글자를 입력하세요  - KTX')
#src = input('문자열을 입력하세요 - KINTEX')
target = 'KTX'
src = 'KINTEX'
t_pos = 0
print(target[t_pos])  #문자열도 리스트임

for s in src:
  print(s)

K
K
I
N
T
E
X

############정리##############
값을 보관 하기
- 변수를 사용 -  
	a = 1  <=  오른쪽에서 왼쪽으로 복사
	저장되는 것에 종류가 있을까? = 자료형(숫자, 문자, 참/거짓...), 자료의 형태를 지정하지 않음

- 만약, 24명의 학생을 보관하려고 함. 변수가 몇개 필요하지? => 24개 필요 => 너무 많음 => 한번에 관리할 수 없을까?
	- 리스트 : 변수들의 집합, 모임  (리스트(배열)..., 튜플, 딕셔너리, 집합)
	- 사용법 : 주소가 있음(0번지 부터 시작)
	- a[0] = 1  #a리스트의 0번지에 1을 저장
	- 번지에 꼭 숫자가 들어가야 할까? => 아니다. => 변수가 들어갈 수 있음(숫자인 변수)
	- arr = 1,    lt[arr] = 1  #   lt리스트의 1번지에 1이 들어감   lt[1]
	- 리스트의 크기는 변함. 항목을 추가할 수도 있고, 뺄 수도 있음.
  https://wikidocs.net/14
  


	기능을 사용하기
	- 파이썬에서 만든 기능을 사용
	- 명령어()    의 형태
	- print() ,  append(), len(), input(), int()
	- 기능을 만들어서 사용할 수 있음.   def:

	-print , print()  은 다른말

문법
	- 반복문 : 같은 작업을 여러번 반복시키는 명령
		- for :  일정 범위 만큼 반복
			- 예) 10번 반복해 X =>   0-9만큼 반복해
			for   사용할 변수  in    range(10)  #사용할 변수에 0~9까지 적용
			- range() 의 활용
			- range(10) : 0-9,   range(5,10) : 5-9,  range(3,10, 2) : 3-9 , 2씩 증가
			-    #  10, 0, 1씩 감소 (= -1씩 증가)
			- 들여쓰기 조심

In [ ]:
for i in range(10, -1, -1): #  10 ~ 0
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#리스트와 for를 사용해보자.
#리스트를 만드는데 [0,1,2,3,4] 가 보관된 리스트 만들기

lt = [] #아무것도 없는 리스트 .append이용해 추가
# lt.append(0)
# lt.append(1)
# lt.append(2)
# lt.append(3)
# lt.append(4)
size = int( input('크기를 입력하세요')  )
for k  in range(0, size):  #k는 0~4까지 보관
  #들여쓰기 조심
  lt.append(k)

print(lt)

크기를 입력하세요100
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
ans = ''
while ans != 'Q':
  ans = input('Q를 입력하면 종료합니다.')

Q를 입력하면 종료합니다.a
Q를 입력하면 종료합니다.Q

In [ ]:
#숫자 하나를 입력받고, 그 숫자부터 1까지 출력, 단 while 이용
n = int( input('숫자입력'))

while n>0:
  print(n)
  n = n - 1  # n -= 1

숫자입력10
10
9
8
7
6
5
4
3
2
1

In [ ]:
#숫자를 하나 입력받아서  입력수부터 100까지 출력    10 11 12.. 100출력
n = int(input('입력'))

while n < 101:
  print(n)
  n+=1